[2018-11-23 10:49] dniel opened #2 "Implement support for clientid and secret parameters to authorize endpoint"
To be able to authenticate CLI or daemon clients to using traefik-forward-auth0 it need to support the[ client credentials grant authentication flow. ](https://auth0.com/docs/api-auth/grant/client-credentials).

Example of use cases:
* maven cli need to call nexus http backend to download/upload artifacts.

[2018-11-23 14:57] billimek opened #3 "multiple instances?"
Do you know if this will handle cookies & JWT tokens properly when running multiple replicas of the `traefik-forward-auth0` deployment?

[2018-11-25 14:04] dniel commented on #3
If you configure different listening ports, cookie domains and different callbacks urls, it should work with multiple running deployments of the with back-end.

[2018-11-25 14:07] dniel commented on #3
An improvement to the backend would be configurable cookie name per application, but right now the name of the time is hard coded unfortunately .

[2018-12-02 20:41] dniel commented on #3
The forwardauth backend is stateless, does not hold any session of the users. It should work fine with any number of replicas I think. I have updated my configuration with 3 replicas now and it seems to work without trouble. Its running at https://www.dniel.se and is using the configuration found here https://github.com/dniel/manifests/blob/master/forwardauth.yaml

[2018-12-02 21:19] billimek commented on #3
Awesome, thank you @dniel!

[2018-12-02 21:19] #3 closed

[2018-12-15 12:34] dniel opened #8 "Fix helm chart so that its possible to specify an application configuration."
Add support for specifying application.yaml (SpringBoot configuration) in the values.yaml for the helm chart. Has been solved by from @billimek.

[2018-12-15 12:35] dniel commented on #8
Done, thanks @billimek

[2018-12-15 12:35] #8 closed

[2018-12-15 12:36] dniel opened #9 "error handling, the current code is not handling much of Auth0 errormessages and does not format errors to the users."
Added ExceptionMappers that format caught exceptions to JSON error messages.
All errors from the backend should be a JSON message with key "error" and a description of the error.

[2018-12-15 12:36] dniel commented on #9
done

[2018-12-15 12:36] #9 closed

[2018-12-15 12:37] dniel commented on #2
delayed, but not forgotten.
Need to stabilize the application first some more before adding more features.

[2018-12-15 13:51] dniel opened #10 "Add dependency vulnerability scanner to maven-build."
Need to pick a dependency scanner for pom.xml dependencies so that we get automatic alerts for libraries with security vulnerabilities.

[2018-12-15 13:52] dniel opened #11 "Add unit tests"

[2018-12-15 13:52] dniel opened #12 "Add integration tests"

[2018-12-16 17:33] #10 closed

[2019-01-10 19:25] billimek opened #15 "memory usage"
It's probably not possible due to the nature of being java/spring, but is there any way to otherwise influence how much memory this uses?  It's odd that it would need more than influxdb or prometheus, for example:

![image](https://user-images.githubusercontent.com/6393612/50991792-88659080-14e3-11e9-9873-a164bb58328b.png)

[2019-01-11 14:59] dniel commented on #15
It should be possible to get it down to at least 512mb usage. Often SpringBoot2 and Tomcat uses quite alot of memory, and then your custom classes is added on top of that.  Some info about it here https://github.com/wearearima/spring-boot-docker-study

Because the application uses default memory settings right now its quite greedy with allocating memory.
As the app is using JDK8 it would need JVM

[2019-01-11 15:05] dniel commented on #15
I think adding following JVM opts would make the JVM follow the Docker container allocated resources.
[code]

[2019-01-12 20:15] dniel commented on #15
Check out the code in PR #16, If you have time could you verify that if you add the flags as shown to your deployment it will still run, and use about 500mb of memory after the app has started? Seems to work here on my machine ;) Thanx!

[2019-01-12 22:31] dniel commented on #15
alright, seems that the JAVA_OPTS isn't a standard JVM parameter, so I have to update my Dockerfile to pass it through to the java command.

[2019-01-14 18:18] #15 closed

[2019-01-31 01:57] billimek commented on #15
@dniel I know this was closed a while back, but thank you for the changes - memory usage is much saner now!

[2019-01-31 07:17] dniel commented on #15
Thanx for the feedback!

[2019-02-04 09:46] dniel opened #20 "Check out if JAVA_TOOL_OPTIONS is better to use than JAVA_OPTS"
See https://stackoverflow.com/questions/28327620/difference-between-java-options-java-tool-options-and-java-opts

Experiment with Dockerfile and  JAVA_TOOL_OPTIONS

[2019-02-06 13:35] dniel opened #21 "Make claims to retrieve from tokens user configurable in application.properties"
It must be possible to configure in application.properties which claims from access token (if jwt) and id token to retrieve when verifying the tokens and add them to the http headers of the redirect request back to the original request.

[2019-02-12 17:58] dniel opened #22 "Add Renovate Bot"
Add configuration for renovate.
https://renovatebot.com/

[2019-02-12 18:04] dniel opened #23 "Add toggle https only for cookie in configuration"
Add toggle https only for cookie in configuration so that its possible to disable https during development and testing, but run with cookie for https only in productions.

[2019-02-13 20:27] #22 closed

[2019-02-27 07:15] bigwheels16 opened #36 "OpenID Connect support?"
Does this app currently support OpenID Connect?  Or is there plans to support it in the future?

[2019-02-27 07:44] dniel commented on #36
Right now it does only support the Auth0 service and it uses the OIDC compliant [Authorization Code grant](https://auth0.com/docs/api-auth/tutorials/authorization-code-grant) so the application could in the future be extended to support other oauth2 identity providers than Auth0.  Right now my main goal is to complete a feature complete version using Auth0 and iron out bugs.

[2019-02-27 17:00] dniel commented on #36
I think I misread your question earlier in the morning. The application is hard coded to use Auth0 as identity provider but Auth0 is a certified [OpenID Connect provider](https://auth0.com/docs/api-auth/tutorials/adoption).

The application requests an access token and a JWT id-token with user info by default and put them as session cookies in the browser.
The branch named "claims" add support to

[2019-03-02 19:24] bigwheels16 commented on #36
oh so you do support OpenID Connect, because I believe the ID_TOKEN is only available with OpenID Connect and not with straight OAuth.  Great!

[2019-03-02 19:24] #36 closed

[2019-03-04 06:47] bigwheels16 opened #48 "URL to service always shows /oauth2/signin?code=..."
When I use traefik-forward-auth0, it will forward to Auth0 to login, and when it comes back it correctly shows the app I was trying to access.  However, the URL still includes the code from the Authorization Grant.  example: https://whoami.mydomain.com/oauth2/signin?code=JQSfySa7z-x...

That is the first problem.

I can keep refreshing the page and it will keep showing my app.  However, if I remov

[2019-03-04 16:25] dniel commented on #48
@bigwheels16 thanx for the feedback 👍
I will debug it and try to find out whats happening. You write that you see the correct website after signin, but the url contain the code from the Authorization Grant. That indicates that maybe traefik.toml is misconfigured, because it seems that ForwardAuth didnt receive the callback but instead your whoami directly without intercepting the signing requets i

[2019-03-04 16:48] bigwheels16 commented on #48
It's very possible.  Here is my traefik.toml file:

[code]

[2019-03-04 17:34] dniel commented on #48
I see that you have configured the ForwardAuth/authorize endpoint through traefik itself. Could you try to do figure it to go outside e.g.. http://localhost:8080/authorize instead? To see if change anything?

[2019-03-04 17:35] dniel commented on #48
In the traefik.frontend.auth.forward.address line

[2019-03-04 18:57] bigwheels16 commented on #48
Thank you! I got it working.  I believe I misunderstood how forward auth worked in Traefik so this has helped clear it up.

For reference, this is the new docker-compose.yml:

[code]

And this is the new application.yaml:

[code]

This uses the root domain for the cookie domain rather than the sub-domain, and it redirects to the auth service /signin rather than the individual service at /oauth2/si

[2019-03-04 18:57] #48 closed

[2019-03-04 19:45] dniel commented on #48
I will add the docker-compose example to the repo 👍 thanx!

[2019-03-05 20:09] dniel commented on #11
closed by claims PR.

[2019-03-05 20:09] #11 closed

[2019-03-05 20:13] dniel opened #49 "Add SSL configuration for requests between Traefik and ForwardAuth"
To avoid sniffing of tokens between Traefik and ForwardAuth all communication between the two should be SSL encrypted.

[2019-03-05 20:15] dniel opened #50 "New endpoint Signout"
Should delete Session Cookies (JWT_TOKEN and ACCESS_TOKEN) from browser to remove user session.

[2019-03-05 20:17] dniel opened #51 "New endpoint Profile"
To be able to use ForwardAuth as a central component for other services to look up user info a new endpoint Profile/Userinfo/User should be implemented. The endpoint should parse the JWT_TOKEN and return configured claims.

[2019-03-05 20:19] dniel opened #52 "Encrypt JWT_TOKEN in cookie"
The JWT_TOKEN contains the user info of a user and should be protected.
It is intended to only the application that sent the client-id and client-secret and should not be passed around to other applications. To make ForwardAuth the only application able to read the session token the whole token should be encrypted. Other applications should get the needed user info from HTTP-headers set by Forward

[2019-03-08 05:01] bigwheels16 commented on #48
Btw, I did get this working the other way you suggested.  I updated docker-compose.yml for the auth service (I used PathPrefixStrip rule instead of a host rule):

[code]
 domain: https://mydomain.auth0.com/
 token-endpoint: https://mydomain.auth0.com/oauth/token
 authorize-url: https://mydomain.auth0.com/authorize

 default:
     name: mydomain.com
     client-id: <CLIENT_ID>
     client-secret: <

[2019-03-08 08:06] bigwheels16 opened #53 "How to handle Authorization"
Currently I have several apps running behind Apache using the mod_auth_openidc module that is configured to delegate authentication to Auth0, which is configured to delegate to Google.  So technically anybody with a Google account can successfully authenticate.  However, there are only a few users that should actually be able to access these apps.  The mod_auth_openidc module I am using lets me re

[2019-03-08 08:20] dniel commented on #53
Use Auth0 to perform authorization logic.
Auth0 "provide a universal authentication & authorization platform for web, mobile and legacy applications." as they say. Auth0 is very flexible on how to implement authorization.

You could for example use [Rules](https://auth0.com/docs/rules) to create simple authorization logic, or you could combine Rules and the [Authorization Extension](https://auth0.

[2019-03-08 08:55] dniel commented on #53
If you already have authorization logic in Auth0,  why not also block access with rules in Auth0 at the same time?

[2019-03-08 14:51] dniel opened #54 "Handle error=unauthorized & error_description=Access denied response"
Implement error handling so that unauthorized responses is handled correctly by ForwardAuth.
Now it just print the error message with the generic error json printer.
It should show an better unauthorized error page, maybe just report 401 and let Traefik route it to correct webapp to handle 401 status messages.

https://redacted/oauth2/signin?error=unauthorized&error_description=Access%20denied.&st

[2019-03-08 14:53] dniel commented on #53
I checked how ForwardAuth handle when Auth0 responds with error=unauthorized
Seems that it just bugs out with standard error handling #54 when it should have handled this nicer.
I'll have to fix that.

[2019-03-08 16:31] bigwheels16 commented on #53
Hmm, I guess I had never considered that.  I'm not sure how I feel about that considering this is an authorization concern and that would effectively be moving it to an authentication concern, but I'll give it a try and see how it works out.

[2019-03-14 09:38] bigwheels16 commented on #53
So I did get this to work by writing a rule in Auth0.  In a simple scenario, it works fine, but it's probably not sufficient for slightly more complex scenarios.

For instance, let's say I have app1.mydomain.com and app2.mydomain.com.  And then in Auth0 I have rules about who can login based on which app they are trying to access.  In the simple scenario, I set the cookie domain to app1.mydomain.c

[2019-03-14 10:18] dniel commented on #53
Yes, actually I have considered this solution aswell but I have not implemented enough advanced rules in Auth0 to test it out yet. I agree that it would follow a correct oauth2 design in theory. I willl give you some guide to the code where such checks should be implemented later today.

[2019-03-14 14:26] dniel commented on #52
See https://tools.ietf.org/html/rfc7516 for JWE specification

[2019-03-14 19:29] dniel commented on #53
The authentication and authorization checks should be added to this method: https://github.com/dniel/traefik-forward-auth0/blob/master/src/main/kotlin/dniel/forwardauth/application/AuthorizeCommandHandler.kt#L49-L68

This code that actually does the redirection based on the authorization and authentication result above is here: https://github.com/dniel/traefik-forward-auth0/blob/master/src/main/ko

[2019-03-16 22:47] dniel commented on #21
closed by #25

[2019-03-16 22:47] #21 closed

[2019-03-19 16:20] dniel opened #57 "Update documentation with examples of how to configure with Traefik 2.0"
Traefik 2.0 has been released with alot of configuration changes. https://blog.containo.us/back-to-traefik-2-0-2f9aa17be305

See https://docs.traefik.io/v2.0/middlewares/forwardauth/ for the new documentation.

[2019-03-20 00:12] bigwheels16 commented on #53
ok thanks, I hope to start looking at this today

[2019-03-25 14:14] dniel commented on #57
Found a blocking bug in Traefik2.0 alpha that needs to be resolved
https://github.com/containous/traefik/issues/4659

[2019-04-04 13:22] dniel opened #62 "Write and use readthedocs.org for Documentation in project."
Better documentation containing
- installation
- running
- configuration
- Auth0 configuration examples
- contribution guidelines
- developement guidelines

[2019-04-04 13:23] dniel opened #63 "Nice looking error pages for html error codes"
Need nice looking HTML error pages that should be displayed to the user when appliction signals 400-599 errors from backend.

[2019-04-04 16:41] bigwheels16 commented on #53
So I started working on this but I had to stop to finish a project.  But I hope to be able to finish it soon.

[2019-04-04 20:06] dniel commented on #53
@bigwheels16 no stress, I appreciate your help a lot :)
Whats really nice news is that two different homelab discord groups has reached out this week and started using the application and if we add features they need and fix the bugs they find we have a nice group of users, and I hope they can contribute with testing, html, documentation. Not sure how many they are, but they are really enthusiasti

[2019-04-28 10:03] dniel opened #73 "Add support for travis-ci"

[2019-05-18 10:40] dniel opened #80 "Add page to documentation for "Common/FAQ/Potential Issues""
To help people figure out common configuration errors both on their own server setup, docker setup,application config and traefik config it would be helpful to create a page that describes most common pitfalls when trying to configure an environment to use ForwardAuth and Auth0.

[2019-05-18 10:41] dniel commented on #80
For example more than one person has had trouble relating to this problem https://github.com/containous/traefik/issues/3693

[2019-05-19 18:03] dniel commented on #73
closed by #81

[2019-05-19 18:03] #73 closed

[2019-05-20 12:51] billimek opened #85 "Consider hosting helm chart on the Helm Hub"
There is a [helm hub](https://hub.helm.sh/) for hosting various (packaged) helm charts.  It would be great if the helm chart for this could be hosted there too.  Instructions for adding a helm repo are [here](https://github.com/helm/hub/blob/master/Repositories.md).

[2019-05-21 08:34] dniel commented on #85
I'll do some research to find out which helm hub that has got most traction for the moment.

[2019-06-03 20:58] bigwheels16 commented on #53
@dniel Hi Daniel, I really wanted to work on this and also learn some Kotlin at the same time, but my priorities have changed and I don't see myself getting back to this for a while unfortunately.  So if you want to close this issue, that is fine.

[2019-06-04 13:23] dniel commented on #53
@bigwheels16 No problem! Thanx for the update :)

[2019-06-04 13:23] #53 closed

[2019-06-04 13:24] dniel commented on #57
Example of Traefik 2.0 has been added to the master branch under examples/traefik2

[2019-06-04 13:24] #57 closed

[2019-06-05 14:54] dniel opened #90 "Implement or document how to perform authorization based on user, group and permission"

[2019-06-06 20:54] dniel commented on #90
@bigwheels16 Hi! Could you read this page https://github.com/dniel/traefik-forward-auth0/blob/required.scopes/docs/auth0.md to se if it makes any sense? Im thinking about not implementing the authorization in the application but instead implement it by rules in Auth0. What do you think, make sense?

[2019-06-08 08:14] bigwheels16 commented on #90
Yeah, I'll take a look and let you know.

[2019-06-11 06:23] bigwheels16 commented on #90
@dniel To start with, I think you got it exactly right in terms of the roles of OAuth, and the purpose of the ID tokens and Access tokens, and who should be consuming each of them.

Regarding the rules in Auth0, I believe that the authorization extension creates a rule that writes the effective permissions to `user.permissions`.  So as long as you make sure your rule comes after the `auth0-authori

[2019-06-11 07:23] dniel commented on #90
@bigwheels16 Thanx for the feedback!
I agree that its the correct way to implement the authorization code in the resource server, where the application has access to all info from the Access Token and even has the posibility to request more info from Auth0 if needed.  This works perfectly when you have control of the source code of the Resource Server and can implement the logic yourself, or if th

[2019-06-11 09:14] bigwheels16 commented on #90
@dniel I agree with your assessment, generally.  However, consider a different scenario.  Let's say that we have everything configured the same way, except instead of ForwardAuth, we have a different app called AuthzValidator that Traefik forwards all the requests to for validation.  And this app just checks for the existence of a Bearer token in the requests, verifies that the token is valid, and

[2019-06-11 09:16] bigwheels16 commented on #90
BTW, there is one thing that I am not clear on.  If I am using Traefik and ForwardAuth and I have a web app, how does the web app get access to the Access Token?  I know that Traefik will forward the call to ForwardAuth, which then starts the authorization code grant.  Once that finishes, ForwardAuth will have the access token.  How does ForwardAuth send the access token to the web app?

[2019-06-11 09:58] dniel commented on #90
The token is availbale to your application in two ways.
As the Authorization: Bearer <token> http header

You need to configure Traefik to add the Authorization header to the request after you have authenticated with ForwardAuth you need to to configure which headers Traefik need to add like this https://github.com/dniel/traefik-forward-auth0/blob/master/example/traefik2/traefik2-file.toml#L11-L13

[2019-09-18 15:38] dniel opened #124 "Should compare sub in access_token and id_token to verify that it is from the same user to prevent that a user can impersonate another user."
verify both tokens, and check that the sub fields is the same in both.

[2019-09-18 15:44] dniel opened #125 "Deny Opaque Access Tokens because they are not possible to verify that they are valid."
After asking for help on the Auth0 community board I get the following advice.
https://community.auth0.com/t/how-to-verify-a-if-access-token/30840/2

I think its best and less error prone to just deny access to opaque tokens.
this will break backwards compatibility for some but hopefully most uses an audience to specify the API that the access token is for, which makes the access token to a verifi

[2019-09-20 20:18] dniel opened #126 "Add SwaggerDoc for endpoints"
Forwardauth has four endpoints:
* authorize
* signin
* signout
* userinfo

They should be documented with swagger.

[2019-09-21 17:37] dniel opened #127 "Cache already verified Tokens to improve performance"
After a token has been verified, it should be cached and reused.
Verification of a token cost about 50ms, and two of them takes about 100ms for each request.
After the inital verification the only part of the token that needs to be verified each time is the expiration time of the token.

Adding cache to already verified tokens would improve perfomance alot.

[2019-09-22 19:53] dniel opened #128 "Dont redirect to authorization url if accept type is application/json."
To stop redirecting to the login page of Auth0 when rest ajax clients does requests and does need to login, check if the accept type of the request is application/json and just deny access instead of redirecting to html-page.

A ajax javascript client will not manage to do anything useful with the login page of Auth0.
Its better just to stop accepting and wait for better times.

[2019-09-22 20:05] dniel commented on #128
And as well if header x-requested-with is set to XMLHttpRequest

[2019-09-24 06:31] dniel opened #131 "Very clear advice to user when using Opaque Access Token that this will not work anymore beacuse of breaking changes"
In the new version its mandatory to use JWT Access Token to be able to verify that the access token is valid and has not expired. This can only be done if the Access Token is in JWT format.
Users that try to use the application with Opaque Access Token need to see a error message that very clearly describes this and what to do.

[2019-09-24 06:34] dniel commented on #50
Signout endpoint implemented.
Calling auth.example.com/signout will remove cookie from browser and call /logout endoint in Auth0.
Afterwards it will redirect to return url if set in tenant, and in `return-to: http//somewhere` is set in application.yaml for the hostname./app.

[2019-09-24 06:35] dniel commented on #51
Userinfo endpoint implemented.
Calling auth.example.com/userinfo will return current user information if logged in.

[2019-09-25 19:38] dniel opened #132 "Design new, nice looking http status page for displaying messages to user."
Need a modern, nice looking design for http status code page
* status codes 400,401,403,500
* css, images and everything emdedded into one single html file.
* included into application to display errors.

[2019-09-26 18:31] KristofferBerg commented on #132
Got a logo, a color palette, text / font styles as a starting point?

[2019-09-26 18:38] dniel commented on #132
no logo, but as font/styles/text/background.
check out https://www.google.no/search?q=keycloak&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjfga7ekO_kAhXE-ioKHeeLBsoQ_AUIESgB&biw=2048&bih=1019&dpr=1.25#imgrc=nFgAG0CTbBGxwM:

or maybe https://www.google.no/search?q=keycloak&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjfga7ekO_kAhXE-ioKHeeLBsoQ_AUIESgB&biw=2048&bih=1019&dpr=1.25#imgrc=LL-HKKWGnLGToM:

[2019-09-26 18:39] dniel commented on #132
https://www.google.com/search?client=firefox-b-d&biw=2048&bih=1019&tbm=isch&sa=1&ei=yQWNXeyKA9CUkwXW-alw&q=overwatch+menu+screen&oq=overwatch+menu+screen&gs_l=img.3..0i19.7512.9325..9573...0.0..0.121.825.11j1......0....1..gws-wiz-img.......0i67j0j0i30j0i8i30i19j0i30i19.Jl_kROjF7po&ved=0ahUKEwisk5yske_kAhVQyqQKHdZ8Cg4Q4dUDCAY&uact=5#imgrc=z1JbqMnKj-vT2M:

[2019-09-26 18:40] dniel commented on #132
something like a subtle bluish background, like those patterns

[2019-09-26 19:26] KristofferBerg commented on #132
How 'bout this?
https://www.figma.com/file/ygLlxHdd2CN9bBtVGgxfsF/Untitled?node-id=0%3A1

[2019-09-26 19:46] dniel commented on #132
that is perfect :)

[2019-10-04 15:11] dniel opened #134 "Create a nice looking frontend application for ForwardAuth"
ForwardAuth should have a nice looking javascript frontend
- use forwardauth rest backend as api.
- dashboard view for status about events, s
  - display stats and events from /events endpoint
- userinfo view for user
 - display the info from /userinfo endpoint
 - provide logout/session link
- session view
  - should display information from /session link
  - should display permissions and stuff

[2019-10-11 12:45] KarolisL opened #136 "It looks like claim headers containing `_` are not supported by Traefik ingress controller."
Traefik doesn't forward headers with `_` from forwardauth.

Consider `given_name` claim, and following ingress config:
[code]

x-forwardauth-given_name is not received by echoheaders.
Traefik helm chart:
[code]

[2019-10-11 15:28] dniel commented on #136
@KarolisL could you close this issue when tested ok?

[2019-10-11 15:32] KarolisL commented on #136
I've tested it already and it works for me.

[2019-10-11 15:32] #136 closed

[2019-11-02 10:25] dniel opened #141 "Authorized anonymous users failed to give access because of Class Cast Exception."
Code didnt handle the case where people are authorized to access, but as anonymous user beacuse of restricted-method is set to allow anonymous users to access.

[2019-11-02 13:11] #141 closed, assigned to dniel

[2019-11-07 10:56] KarolisL opened #142 "Redirect users to login page on NONCE mismatch"
Sometimes users get NONCE mismatch. I've seen some similar log messages:
[code]

My hypothesis is that user mistakenly either:
- manually old visits auth0 login page ( `https://<auth0_domain>.eu.auth0.com/login?state=<snip>&protocol=oauth2&audience=<snip2>&scope=profile%20openid%20email&response_type=code&redirect_uri=https%3A%2F%2F<real_website_domain>%2Foauth2%2Fsignin
- manually old visits /oau

[2019-11-07 16:09] KarolisL commented on #142
`AUTH_NONCE` Cookie is set with `Max-Age` of 60, so if we go to a `<real_website>`, get reidirected to login screen, wait for 61 seconds and log in, we get the `ApplicationException`.

Could we make maxAge configurable? Or would it be a security risk? v1 had this cookie set to `-1`

[2019-11-07 21:11] dniel commented on #142
@KarolisL yeah, I agree, 60 seconds is a little bit to aggressive. I set it like that because the token exchange code Auth0 send is valid for about 60 seconds probably and to tighten security. But as you point out its possible that the user let the login page waiting for 10 min before actually clicking sign in.

I'll add a configuration to specify maxAge in config, and set a more sensible default,

[2019-11-07 21:12] dniel commented on #142
@KarolisL like you say when the user get a nonce error on the screen, I have seen the errors mostly when using back button and/or reload page. I'll try to investigate about setting a default login page in Auth0. I think maybe they have something like that.

[2019-11-11 09:40] KarolisL commented on #142
@dniel in my case, configuring the maxAge would be enough, for now, I could make a PR for this feature.
Regarding the redirect, the UX isn't that great with nonce errors, because user tends to refresh the page if s/he gets an error, but it is futile to refresh because nonce won't match no matter how many times you would refresh. Another solution would be to add "try again" button. Maybe this relat

[2019-11-11 10:50] dniel commented on #142
@KarolisL Thanx for the PR! Could you update your branch to exclude sonarcloud testing in PR-builds to make the PR build succeed? https://travis-ci.community/t/pull-request-builds-fail-with-sonar/3473

[2019-11-11 10:53] dniel commented on #142
@KarolisL I have created a new project https://github.com/dniel/forwardauth-ui for implementing a react UI application. #63 will probably be solved there.

[2019-11-11 13:43] KarolisL commented on #142
@dniel I have updated the PR to disable sonar on PRs.

[2019-11-12 09:26] dniel commented on #142
@KarolisL thanx for the help, please close this issue when you have verified that the new build is working.

[2019-11-12 09:42] KarolisL commented on #142
I've just checked, the new build worked!

[2019-11-12 09:42] #142 closed, assigned to nobody

[2020-01-24 21:11] KarolisL opened #151 "Mechanism for SPA to discover auth0 login url"
SPAs get HTTP 403 after token expires. This works as expected, but it would be nice if in such case, SPA could open a new window with Auth0 login page. For this to work, we need two things:
- NONCE cookie to be set
- Http Header (or other mechanism) to discover the login URI

Relates to https://github.com/dniel/traefik-forward-auth0/issues/128

[2020-01-26 18:40] dniel commented on #151
I havent created a SPA yet for myself, I have focused on API authentication for now. I should probably create a simple SPA to test how forwardauth + auth0 behaves.

ForwardAuth uses the authorization code grant flow from Auth0/OAuth2/OIDC.
Maybe even it could be that a SPA should actually authenticate by itself by using implicit grant instead  https://auth0.com/docs/architecture-scenarios/spa-api/

[2020-01-26 20:16] dniel commented on #151
New guidance in using implicit grant https://auth0.com/blog/oauth2-implicit-grant-and-spa/

[2020-01-26 20:33] dniel commented on #151
could possibly be the mechanism you are thinking about.

[2020-01-27 06:21] KarolisL commented on #151
Awesome! This looks exactly what we need: we're serving our SPA from the same domain as our API.

Would you accept a PR if I implemented the following logic:
If the call is an API call then `forwardauth` would:
- Set the cookie header with NONCE
- Return 302 redirect to auth0 signin page with the same NONCE in the `state` (IIRC) field

[2020-01-27 08:20] dniel commented on #151
Hm, wouldn't that be exactly how the standard non-API type of URL is handled?
I have to check the code to remember exactly. :)

[2020-01-27 08:24] KarolisL commented on #151
Non-API URLs return HTTP 307 so browser follows them when it does AJAX requests. It might be ok to return HTTP 302 in all cases (API and non-API), but we might break existing API clients which expect 403.

[2020-01-27 08:37] dniel commented on #151
The 307 was chosen so that the method would not be changed by the redirect, but when thinking of it, it is probably not a problem because if you want a redirect you want a redirect with GET to Auth0 login anyways.

[2020-01-27 08:56] KarolisL commented on #151
So what do you think about this approach?
I've got another idea that we might return `302 Found` for APIs only if client sent some specific header. This way we wouldn't break existing clients which expect `403 Forbidden`.

[2020-01-27 09:02] dniel commented on #151
We could try changing for 302 Redirect and see how it behaves, especially for AJAX calls.
The 403 forbidden handling of API calls was done to make it cleaner for api clients that anyway cant do anything about the redirects that only a html client can handle.
How would the SPA handle the redirect, open a new window to authenticate or do a redirect with the whole page and back?

[2020-01-27 09:40] KarolisL commented on #151
I think SPA could do either of those, it is up to SPA to decide. In my case, I'd prefer if I could just open a new window, make user to get new code from auth0, signin with forwardauth to get new token, and then re-try the request which "failed" with 302.

Does that make sense?

[2020-01-27 09:50] dniel commented on #151
Yup, that was the way I was thinking it would work.
Is there a case where a AJAX client would need to distinguish between a redirect for auth, and a normal redirect by the backend API?

[2020-01-27 09:59] KarolisL commented on #151
In my case, there isn't. In most cases I can think of, the backend should use `303 See Other` or `307 Temporary Redirect` instead of 302.

[2020-01-27 10:48] dniel commented on #151
If you want to have a go at it, create a PR that removes the special
response handling of API types, and both API and normal clients get  the
same 302 redirect.
If you have a simple SPA to test with as well, it would be very helpful if
you could contribute it for further development for ajax/spa clients.
And if you want to use the CI/CD I have configured (have a look at the
contribution page) I co

[2020-01-27 12:52] KarolisL commented on #151
response handling of API types, and both API and normal clients get  the
same 302 redirect.

Alright, I hope to start sometime this week.

you could contribute it for further development for ajax/spa clients.

I don't have one at the moment, since I'm using my project's SPA to test the flow.

contribution page) I could add you as a contributor to the repo.

Sure, that would be nice!
Also, it would

[2020-01-27 13:04] dniel commented on #151
Kool, I added a .editconfig file from my IDEA to the 2.0-rc1 branch. I use default IDEA settings for code style. And also added you as a collaborator to the repo.

[2020-01-29 09:18] #12 closed

[2020-01-29 09:46] dniel commented on #151
@KarolisL the logic for handling authz and authn is implemented as two state machines,
https://github.com/dniel/traefik-forward-auth0/blob/2.0-rc1/src/main/kotlin/dniel/forwardauth/domain/authorize/service/AuthorizerStateMachine.kt for authorization and specifically its the lines https://github.com/dniel/traefik-forward-auth0/blob/2.0-rc1/src/main/kotlin/dniel/forwardauth/domain/authorize/service/

[2020-01-29 10:55] KarolisL commented on #151
Thanks!

I hope to start next week, since this one is quite busy for me.
Regarding SPA, I've found one which, with a bit of modifications, might be good/simple enough to test FordwardAuth: https://github.com/auth0-blog/spa-cookie-demo/tree/with-oidc <https://github.com/auth0-blog/spa-cookie-demo/tree/with-oidc>

[2020-01-29 13:14] dniel commented on #151
yeah. agree, that SPA seems like a good start for a SPA for testing

[2020-02-01 22:39] #62 closed

[2020-02-01 22:39] dniel commented on #62
Added initial documentation to https://traefik-forward-auth0.readthedocs.io

[2020-02-09 21:28] #126 closed

[2020-02-09 21:28] dniel commented on #126
done

[2020-02-11 14:13] guyspr opened #154 "Error when running with traefik 2.1"
Hello,

I'm trying to setup your forward auth on traefik using the supplied example. However, I'm getting the following error when running the application. It seems it's trying to read some kind of header which is missing.
[code]

Any idea what the cause of this issue is?

[2020-02-12 07:20] dniel commented on #154
When Traefik forwards traffic to services behind, it sets some headers containing information about the original request
- X-Forwarded-For
- X-Forwarded-Host
- X-Forwarded-Port
- X-Forwarded-Proto
- X-Forwarded-Server
- X-Forwarded-Uri

If you set environment variable ENV to DEBUG for the forwardauth container, it should print lots of debug information, including all the incoming headers to the `a

[2020-02-13 19:41] #80 closed

[2020-02-13 19:41] dniel commented on #85
done, pr created but not yet merged

[2020-02-13 19:41] #85 closed

[2020-02-13 19:43] dniel commented on #90
have created new documentation site at readthedocs, which has example of using auth0 rbac, apis, apps and example config for forwardauth to use it.

[2020-02-13 19:43] #90 closed

[2020-04-08 03:20] travisghansen commented on #151
I'm interested in following this conversation. I had a similar request for an auth server I author over here: https://github.com/travisghansen/external-auth-server/issues/57

If one has control over the app/SPA I ended up allowing a couple things:

- detecting ajax requests (crudely) and allowing for the response code to be adjusted from 30X to 401 which means the app can intercept it
- when 'redi

[2020-04-13 08:39] dniel commented on #151
@travisghansen thanx for your feedback, whats your experience of your solution? are you happy and its working fine or would you solve it in another way now in hindsight?

[2020-04-13 08:41] dniel commented on #151
from what I have thinking is that it would be nice for the client to receive the authentication-url for where to go to do the authentication from the auth-server backend, to be able to redirect the user for authentication in the browser.

[2020-04-13 08:42] dniel commented on #151
what is the content of the `realm/scope` information you return to the client?

[2020-04-13 14:56] travisghansen commented on #151
@dniel yeah it works great so far. Speaking generally it's main deficiency is you must have control over the SPA which is fine for the use-case but when using 3rd party SPAs you're still kinda stuck. If you control/program/develop the app it's 100% effective.

That's exactly what I do is send the authentication URL to the client both in the `Location` header (even though the response code is `401`

[2020-04-29 12:36] jasperroel opened #260 "Grafana behind forward-auth0:2.0-rc1 throws errors"
I'm trying to run the Grafana container behind the new 2.0 middleware, but as soon as I enable that, Grafana throws the following error:

`{"message":"Invalid API key"}`

I assume that is because forward-auth adds the `Authorization` header going to Grafana.

Grafana seems to interpret this as a way to authenticate against it with an API key, which fails (because the Header created with forward-au

[2020-04-29 12:37] jasperroel commented on #260
My compose file, in case that helps at all:

[code]

[2020-04-29 12:43] dniel commented on #260
unfortunately its not possible right now to disable right now, but I could easily add a configuration option to disable adding the header. Right now the token is always added for the authenticated user.

Do you use version 2.0-rc1 of forwardauth?

[2020-04-29 12:45] jasperroel commented on #260
Yes, using `image: dniel/forwardauth:2.0-rc1` for the middleware.

An option would be great. Would that be per container or for everything (I'm okay with either - I don't use the header currently).

[2020-04-29 12:56] dniel commented on #260
probably something per application I think.

[2020-04-29 13:03] dniel commented on #260
or maybe, in your Traefik configuration for forwardauth authentication you have  something like https://docs.traefik.io/middlewares/forwardauth/#authresponseheaders

Something like this for the File provider maybe, the `authResponseHeaders` field is the headers that will be forwarded after authentication by Traefik. If you remove that Authorization from authResponseHeaders that header I think Trae

[2020-04-29 13:35] jasperroel commented on #260
Ah yeah, that already works indeed. I forgot about that part of the config!

So, I now have:
[code]

That works.

Thanks for that suggestion!

[2020-04-29 13:42] dniel commented on #260
perfect, glad to hear. :+1:  close this issue if you are satisfied with the solution.

[2020-04-29 13:55] #260 closed, assigned to nobody

[2020-05-28 06:14] qiuwei commented on #154
@guyspr I have encountered the same error. Did you manage to figure it out?

[2020-05-28 06:17] guyspr commented on #154
@qiuwei Sadly not. Good luck!

[2020-05-28 13:56] dniel commented on #154
@qiuwei hi, could you provide me your docker-compose for me to check your configurartion?

[2020-06-04 09:44] dniel opened #262 "RFC: Sending anonymous information about the running version of ForwardAuth."
Add an anonymous endpoint over HTTP to send some basic meta information about the ForwardAuth application when starting. The payload of the request should be just some basic information to know which versions is in use.

The main reason is to know if a change is going to break peoples installations, or if people have already migrated to newer versions.

Sending the version information should be en

[2020-06-04 13:27] qiuwei commented on #154
@dniel @guyspr

It seems traefik 2 is not forwarding the headers required by forward-auth0 by default.

By adding

[code]
to the config of traefik,
forward-auth0 works like a charm.

[2020-06-04 17:36] dniel commented on #154
Be careful to enable external headers to forwardauth, its possible to forge headers to manipulate access. I think you are on the right track but I have configured forwarded headers on the Middleware itself like this https://traefik-forward-auth0.readthedocs.io/en/latest/examples/traefik2/file.html.

Probably u should only accept headers from trusted ips.

[2020-06-06 10:16] dniel commented on #154
I'll close this issue and will re-open if @qiuwei  or @guyspr need help with more investigation.
Thanx for the feedback @qiuwei !

[2020-06-06 10:16] #154 closed, assigned to dniel

[2020-06-07 16:25] dniel commented on #151
As described in RFC-6750 https://tools.ietf.org/html/rfc6750#section-3 (The OAuth 2.0 Authorization Framework: Bearer Token Usage) the Oauth2 specification has described the proper response from a protected resource server.

1. Example providing error response with description.
[code]
other error codes mentioned are *invalid_request, invalid_token and insufficient_scope*

2. Example proividing err

[2020-06-07 16:35] travisghansen commented on #151
Never read that spec but programmed what I have based on experience and appears to fall in line. I probably should add the error fields though...

[2020-06-07 16:38] dniel commented on #151
Note the phrase *Other auth-param attributes MAY be used as well* in the spec.
I think a possible way to stay as close to the spec could be something like adding an auth_server attribute to the auth-scheme and provide the link to the IDP login page there.

[2020-06-07 16:39] dniel commented on #151
Something like
[code]

[2020-06-07 16:45] dniel commented on #151
It also seems that at least the HTTP/1.1 spec (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.47) is open using multiple WWW-Authenticate headers, and possibly multiple auth-schemas in one header. Auth-Schemas is extendable so another approach could be to create a custom auth-schema to add along with the standard Bearer.

Something like
[code]

[2020-06-07 16:48] travisghansen commented on #151
I guess maybe I’m unclear on what you feel is off spec exactly?

[2020-06-07 16:51] dniel commented on #151
Nothing really :) it seems like both approaches with adding the url to the login server as a custom attribute on the Bearer auth-schema and also the other approach of using a custom auth-schema seems to be perfectly fine in terms of specs.

[2020-06-07 16:58] travisghansen commented on #151
Why not use `realm` directly? I patterned that after several other services I’ve observed.

[2020-06-07 17:00] dniel commented on #151
do you have an example of syntax?

[2020-06-07 17:16] travisghansen commented on #151
Of the header value or a configuration of the auth server?

[2020-06-07 17:17] dniel commented on #151
From Hypertext Transfer Protocol (HTTP/1.1): Authentication
https://tools.ietf.org/html/rfc7235#section-2.2

In the mozilla doc the realm is described as
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/WWW-Authenticate

From what I can see, the realm value should contain a value describing a protected area.
But at the same time it can have additional semantics specified by the auth-schem

[2020-06-07 17:21] dniel commented on #151
An example of your realm header value syntax, and also it would be interesting to see a complete example your version of the WWW-Authenticate header.

And if you have any examples of other observed services you mentioned, it would be interesting to see how others has implemented the WWW-Authenticate syntax.

[2020-06-07 17:48] travisghansen commented on #151
I’ll send over sample when back to my desk, but in short it’s the full authorization code flow redirect URI to the provider. ie: login here URL (not to be confused with the `redirect_uri` query param which tells the auth provider where to return the user after authentication has been completed/attempted)

It’s a slightly different flow with the docker client but general principle applies: https://

[2020-06-07 17:56] travisghansen commented on #151
Regarding the `redirect_uri` param (what’s really unique here) is that based on how my auth server is configured it will/can dynamically change that depending on if the request looks. If it’s a SPA (ie: ajax request) then the auth server sets the `redirect_uri` *to the page the user requested the resource from* vs *the endpoint of the resource itself*. The general idea being, it doesn’t do much go

[2020-06-12 02:11] qiuwei commented on #154
@dniel I have already configured forward-auth as you described in the document.
[code]

However, if I do not have
[code]
in the traefik config,  I get the error message.
[code]

[2020-06-12 02:23] qiuwei commented on #154
https://community.containo.us/t/forwardauth-does-not-pass-x-forwarded-uri/3277

It might be a problem with traefik 2.0 .

Edit:

After some digging, it seems there are some changes regarding the header forwarding from traefik 1.7 to traefik 2.0.  In short, In v1.7, forwarded-header on entrypoint is insecure by default: https://docs.traefik.io/v1.7/configuration/entrypoints/#forwarded-header
In v2.

[2021-01-02 20:33] radicand opened #290 "Option to toggle passing AccessToken vs idToken to backend"
Currently AccessToken is passed as the Authorization header to the backend, but applications like Kubernetes Dashboard will work OOB with an idToken. Is there a way to toggle (on a per-app basis) which JWT is passed to the backend?

[2021-01-02 22:12] radicand commented on #290
Closing this issue, as I've worked out how to add the necessary claims to the accessToken in Auth0. For those that follow and are interested specifically in K8s Dashboard, or making the access token have more claims:

Create a rule similar to the below:

[code]

This assumes you've also leveraged Auth0 user metadata to set a field called `k8s_group`.

Next, ensure your kube-apiserver has the right

[2021-01-02 22:12] #290 closed, assigned to nobody

[2021-01-03 16:38] dniel commented on #290
:+1: Thanx for the follow up with advice! I will add it to the documentation pages for others to use.

As the official specification documents, Access token is in the oauth2 + oidc should be used to send to the resource server (in this case the kubernetes dashboard) to authenticate and possibly also authorize, as can be seen by the audience field in the token which points to the resource server th

[2021-08-04 13:55] sirTomasson opened #311 "No JWT cookie being set in the browser."
Hi,

So far, I can log in using `auth0`; however, I am experiencing some unexpected behavior when using the `traefik-forward-auth0` image.

- No token is being set in the browser.
- Once authenticated (in any browser) all requests are automatically authorized. I expect that when opening a private browser window, the user should no longer be authenticated.

I am using the traefik-2/ from the exampl

[2021-08-25 04:47] renovate[bot] opened #312 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/dniel/traefik-forward-auth0).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

##

[2021-12-04 22:50] Aubron opened #321 "Support "Connection" property"
Per [Auth0 Docs](https://auth0.com/docs/api/authentication#login), it looks like there's a "Connection" property, that could allow one to throw straight to an expected social provider. It seems like it should be straightforward to map a configuration to provide this if specified.

Would be happy to contribute a PR if this sounds viable.

[2022-01-02 13:21] dniel commented on #321
yeah,. should be easy enough to add, per application or as a global setting? If you add ass a PR I'll check it out and release it.

[2022-02-14 20:40] ksenechal opened #323 "nonceCookie is null using docker-compose example"
Hi,

I've an issue running forward auth0 and didn't know how to fix it.
I'm using the example provided for Traefik v2 and docker-compose.

{ "error": "Parameter specified as non-null is null: method dniel.forwardauth.infrastructure.endpoints.SigninEndpoint.signin, parameter nonceCookie" }

Thank you in advance

[2022-02-14 22:16] #323 closed, assigned to nobody

[2022-02-14 22:17] ksenechal commented on #323
The problem came from token-cookie-domain which need to be the main domain (instead of subdomain)

[2022-04-15 13:11] DeathCamel58 opened #331 "`aarch64` Support"
Thanks for the project, this seems awesome!
Unfortunately this does not work on my Rock Pi cluster due to lack of `aarch64` support.

Is support for other architectures planned?